@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');  

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to bottom, black, #4b4a4a);
  background-color: #666;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
}

.full-body {
  text-align: center;
}

nav {
  padding: .4rem;
  display: flex;
  justify-content: flex-end;
}

nav .nav-link {
  text-decoration: none;
  margin: 0 4rem;
  font-size: 1.7rem;
  color: white;
}

nav .nav-link:hover {
  color: lightskyblue;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-top: 15px;
}

.login-button {
  margin-top: 50px;
  background-color: lightskyblue;
  transition-duration: 0.2s;
  width: 150px;
}

.login-button:hover {
  background-color: lightskyblue;
  color: white;
}

.login-button span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.2s;
}

.login-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.2s;
}

.login-button:hover span {
  padding-right: 25px;
}

.login-button:hover span:after {
  opacity: 1;
  right: 0;
}

.login-button:active {
  background-color: #0D1B28;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.login-div {
  margin-top: 200px;
  color: #ccc;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.login-form input {
  width: 100%;
  max-width: 300px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form p {
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 600;
}

.home-content {
  margin-top: 80px;
  margin-bottom: 40px;
  color: #ccc;
}

.home-div h1 {
  font-weight: 800;
  font-size: 50px
}

.home-div p {
  margin-top: 20px;
}

.home-div .avatar {
  flex: .5 .5 40rem;
}

.home-div .avatar img {
  width: 20%;
  animation: float 4s linear infinite;
  margin-right: 20px;
}
@keyframes float {
  0%, 100% {
      transform: translateY(0rem);
  }
  50% {
      transform: translateY(2rem);
  }
}

.about-div {
  color: #6e6e6e;
}

.about-div h1{
  margin-bottom: 30px;
}

.about-div h2{
  font-size: 18px;
}
